body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #04030c;
    font-family: Arial, sans-serif;
}

.calculator {
    background: hsl(240, 2%, 66%);
    padding: 20px;
    border-radius: 10px;
    width: 260px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 10px;
    background: white;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}

.equal {
    grid-row: span 2;
    background: #4caf50;
    color: white;
}

.zero {
    grid-column: span 2;
}